/**
 * @name midnight
 * @description a dark, customizable discord theme.
 * @author refact0r
 * @version 2.1.1
 * @invite nz87hXyvcy
 * @website https://github.com/refact0r/midnight-discord
 * @source https://github.com/refact0r/midnight-discord/blob/master/themes/midnight.theme.css
 * @authorId 508863359777505290
 * @authorLink https://www.refact0r.dev
*/

/* import theme modules */
@import url("https://refact0r.github.io/midnight-discord/build/midnight.css");

body {
  /* font options */
  --font: "Ac437 PhoenixVGA 9x16"; /* change to '' for default discord font */
  --code-font: ""; /* change to '' for default discord font */
  font-weight: 400; /* normal text font weight. DOES NOT AFFECT BOLD TEXT */

  /* sizes */
  --gap: 12px; /* spacing between panels */
  --divider-thickness: 4px; /* thickness of unread messages divider and highlighted message borders */
  --border-thickness: 3px; /* thickness of borders around main panels. DOES NOT AFFECT OTHER BORDERS */

  /* animation/transition options */
  --animations: on; /* off: disable animations/transitions, on: enable animations/transitions */
  --list-item-transition: 0.2s ease; /* transition for list items */
  --dms-icon-svg-transition: 0.4s ease; /* transition for the dms icon */
  --border-hover-transition: 0.2s ease; /* transition for borders when hovered */

  /* top bar options */
  --top-bar-height: var(
    --gap
  ); /* height of the top bar (discord default is 36px, old discord style is 24px, var(--gap) recommended if button position is set to titlebar) */
  --top-bar-button-position: titlebar; /* off: default position, hide: hide buttons completely, serverlist: move inbox button to server list, titlebar: move inbox button to channel titlebar (will hide title) */
  --top-bar-title-position: off; /* off: default centered position, hide: hide title completely, left: left align title (like old discord) */
  --subtle-top-bar-title: off; /* off: default, on: hide the icon and use subtle text color (like old discord) */

  /* window controls */
  --custom-window-controls: on; /* off: default window controls, on: custom window controls */
  --window-control-size: 14px; /* size of custom window controls */

  /* dms button options */
  --custom-dms-icon: custom; /* off: use default discord icon, hide: remove icon entirely, custom: use custom icon */
  --dms-icon-svg-url: url("https://nytril-ark.github.io/connected.svg"); /* icon svg url. MUST BE A SVG. */
  --dms-icon-svg-size: 160%; /* size of the svg (css mask-size property) */
  --dms-icon-color-before: var(--icon-secondary); /* normal icon color */
  --dms-icon-color-after: var(
    --white
  ); /* icon color when button is hovered/selected */
  --custom-dms-background: off; /* off to disable, image to use a background image (must set url variable below), color to use a custom color/gradient */
  --dms-background-image-url: url(""); /* url of the background image */
  --dms-background-image-size: cover; /* size of the background image (css background-size property) */
  --dms-background-color: linear-gradient(
    70deg,
    var(--blue-2),
    var(--purple-2),
    var(--red-2)
  ); /* fixed color/gradient (css background property) */

  /* background image options */
  --background-image: off; /* off: no background image, on: enable background image (must set url variable below) */
  --background-image-url: url(""); /* url of the background image */

  /* transparency/blur options */
  /* NOTE: TO USE TRANSPARENCY/BLUR, YOU MUST HAVE TRANSPARENT BG COLORS. FOR EXAMPLE: --bg-4: hsla(220, 15%, 10%, 0.7); */
  --transparency-tweaks: off; /* off: no changes, on: remove some elements for better transparency */
  --remove-bg-layer: off; /* off: no changes, on: remove the base --bg-3 layer for use with window transparency (WILL OVERRIDE BACKGROUND IMAGE) */
  --panel-blur: off; /* off: no changes, on: blur the background of panels */
  --blur-amount: 12px; /* amount of blur */
  --bg-floating: var(
    --bg-3
  ); /* set this to a more opaque color if floating panels look too transparent. only applies if panel blur is on  */

  /* chatbar options */
  --custom-chatbar: aligned; /* off: default chatbar, aligned: chatbar aligned with the user panel, separated: chatbar separated from chat */
  --chatbar-height: 47px; /* height of the chatbar (52px by default, 47px recommended for aligned, 56px recommended for separated) */
  --chatbar-padding: 8px; /* padding of the chatbar. only applies in aligned mode. */

  /* other options */
  --small-user-panel: on; /* off: default user panel, on: smaller user panel like in old discord */
}

/* color options */
:root {
  --colors: on; /* off: discord default colors, on: midnight custom colors */

  /* text colors */
  --text-0: var(--bg-4); /* text on colored elements */
  --text-1: #3e1e0f; /* other normally white text */
  --text-2: #3e1e0f; /* headings and important text */
  --text-3: #3e1e0f; /* normal text */
  --text-4: #3e1e0f; /* icon buttons and channels */
  --text-5: #5a3a25; /* muted channels/chats and timestamps */

  /* background and dark colors */
  --bg-1: #f0d4bb; /* dark buttons when clicked */
  --bg-2: #a86943; /* dark buttons */
  --bg-3: #f0d4bb; /* spacing, secondary elements */
  --bg-4: #f2cdac; /* main background color */
  --hover: #a86943; /* channels and buttons when hovered */
  --active: #c99d71; /* channels and buttons when clicked or selected */
  --active-2: #c99d71; /* extra state for transparent buttons */
  --message-hover: #dbac81; /* messages when hovered */

  /* accent colors */
  --accent-1: #426a79; /* links and other accent text */
  --accent-2: #a86943; /* small accent elements */
  --accent-3: #a86943; /* accent buttons */
  --accent-4: #c99d71; /* accent buttons when hovered */
  --accent-5: #d4a87d; /* accent buttons when clicked */
  --accent-new: #9e4234; /* stuff that's normally red like mute/deafen buttons */
  --mention: linear-gradient(
    to right,
    color-mix(in hsl, var(--accent-2), transparent 90%) 40%,
    transparent
  ); /* background of messages that mention you */
  --mention-hover: linear-gradient(
    to right,
    color-mix(in hsl, var(--accent-2), transparent 95%) 40%,
    transparent
  ); /* background of messages that mention you when hovered */
  --reply: linear-gradient(
    to right,
    color-mix(in hsl, var(--text-3), transparent 90%) 40%,
    transparent
  ); /* background of messages that reply to you */
  --reply-hover: linear-gradient(
    to right,
    color-mix(in hsl, var(--text-3), transparent 95%) 40%,
    transparent
  ); /* background of messages that reply to you when hovered */

  /* status indicator colors */
  --online: #537a3a; /* change to #40a258 for default */
  --dnd: #9e4234; /* change to #d83a41 for default */
  --idle: #b8771a; /* change to #cc954c for default */
  --streaming: #8f5b3c; /* change to ##9147ff for default */
  --offline: #8f866e; /* change to #82838b for default offline color */

  /* border colors */
  --border-light: #F2BC886; /* general light border color */
  --border: #f2bc88; /* general normal border color */
  --border-hover: #f2bc88; /* border color of panels when hovered */
  --button-border: #f2bc88; /* neutral border color of buttons */
}
