body {{
  --wal-foreground: {foreground.rgb};
  --wal-cursor: {cursor.rgb};
  
  --wal-color-0-black: {color0.rgb};
  --wal-color-1-red: {color1.rgb};
  --wal-color-2-green: {color2.rgb};
  --wal-color-3-yellow: {color3.rgb};
  --wal-color-4-blue: {color4.rgb};
  --wal-color-5-purple: {color5.rgb};
  --wal-color-6-cyan: {color6.rgb};
  --wal-color-7-white: {color7.rgb};
  
  --wal-color-8-bright-black: {color8.rgb};
  --wal-color-9-bright-red: {color9.rgb};
  --wal-color-10-bright-green: {color10.rgb};
  --wal-color-11-bright-yellow: {color11.rgb};
  --wal-color-12-bright-blue: {color12.rgb};
  --wal-color-13-bright-purple: {color13.rgb};
  --wal-color-14-bright-cyan: {color14.rgb};
  --wal-color-15-bright-white: {color15.rgb};

  --background-light-luminance: 1.25;
  --background-extra-light-luminance: 1.85;
  --wal-bg-red: calc({background.red} * 255);
  --wal-bg-green: calc({background.green} * 255);
  --wal-bg-blue: calc({background.blue} * 255);

  --wal-red-light: min(max(0, calc(var(--wal-bg-red) + (var(--wal-bg-red) * var(--background-light-luminance)))), 255);
  --wal-green-light: min(max(0, calc(var(--wal-bg-green) + (var(--wal-bg-green) * var(--background-light-luminance)))), 255);
  --wal-blue-light: min(max(0, calc((var(--wal-bg-blue) + var(--wal-bg-blue) * var(--background-light-luminance)))), 255);
  --wal-red-extra-light: min(max(0, calc(var(--wal-bg-red) + (var(--wal-bg-red) * var(--background-extra-light-luminance)))), 255);
  --wal-green-extra-light: min(max(0, calc(var(--wal-bg-green) + (var(--wal-bg-green) * var(--background-extra-light-luminance)))), 255);
  --wal-blue-extra-light: min(max(0, calc((var(--wal-bg-blue) + var(--wal-bg-blue) * var(--background-extra-light-luminance)))), 255);

  --wal-background: rgba(var(--wal-bg-red), var(--wal-bg-green), var(--wal-bg-blue), 1.0);
  --wal-background-light: rgba(var(--wal-red-light), var(--wal-green-light), var(--wal-blue-light), 1.0);
  --wal-background-extra-light: rgba(var(--wal-red-extra-light), var(--wal-green-extra-light), var(--wal-blue-extra-light), 1.0);

  /* SWAP THESE 4 AROUND FOR DIFFERENT APPEARANCES */
  --background-primary: var(--wal-background);
  --background-secondary: var(--wal-background-light);
  --titlebar-background: var(--wal-background-light);
  --titlebar-background-focused: var(--wal-background-light);

  --code-background: var(--wal-background-light);

  body:not(.hider-frameless):not(.is-fullscreen):not(.is-mobile) {{
    --titlebar-height:28px;
    padding-top: var(--titlebar-height) !important; }}
  
  body:not(.hider-frameless):not(.is-fullscreen):not(.is-mobile) .titlebar {{
    border-bottom: var(--border-width) solid var(--background-divider);
    height: var(--titlebar-height) !important;
    top: 10 !important;
    padding-top: 0 !important; }}
  
  body.hider-frameless .titlebar {{
    border-bottom: none; }}

  --color-base-00: #1e1e1e;
  --color-base-05: #212121;
  --color-base-10: #242424;
  --color-base-20: #262626;
  --color-base-25: #2a2a2a;
  --color-base-30: {color0};
  --color-base-35: #3f3f3f;
  --color-base-40: #555555;
  --color-base-50: #666666;
  --color-base-60: #999999;
  --color-base-70: #aaaaaa;
  --color-base-100: {foreground};
}}
/* big thanks to https://github.com/Gremious for uncovering how pywalfox generates colours ^^*/
/* {color1.rgb} */
